<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="main-nav">
        <div class="auth-links">
            <a href="/login">Login</a>
        </div>
    </nav>
    <header>
        <h1>
            <img src="/img/black_flag_noclip.png" alt="Black Flag Logo" class="logo">
            {{ .Site.Title }}
            <img src="/img/black_flag_noclip.png" alt="Black Flag Logo" class="logo">
        </h1>
    </header>
    <main>
        <!--<h2>{{ .Title }}</h2> -->
        <div>{{ .Content }}</div>
    </main>
    <footer>
        © {{ now.Year }} <a href="https://getbcard.io">🏴💳 BCard Foundation</a>
    </footer>
</body>
</html>
